body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: purple ;
    color: rgb(126, 255, 57);
    
}
.container{
    width: 70%;
    padding: 1em;
    justify-content:center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    background: black;
    margin: 0 auto;
}
#cabecera{
    background: white;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
    box-shadow: -9px -2px 61px -15px rgba(255,0,255,1);
}